<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Mercury Inventory</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Mercury Inventory</h1>
    <nav>
      {% if current_user.is_authenticated %}
        Hola, {{ current_user.username }} |
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% block contenido %}{% endblock %}
  </main>
</body>
</html>
